.app {
  height: 100%;
}

.logo img {
  margin: 12px;
  max-width: 10%;
  position: fixed;
  z-index: 2;
}

.image-container,
.form-container {
  background: linear-gradient(to right, rgba(200,200,200,0.1), rgba(200,200,200,0.7), rgb(200,200,200), rgb(200,200,200));
  display: inline-block;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 50%;
}

.image-container {
  background-image: url('./assets/background.jpeg');
  background-size: cover;
  left: 0;
  width: 100%;
}

.image-container button {
  position: absolute;
  top: 0;
  left: 0;
}

.form-container {
  background: linear-gradient(to right, rgba(240,240,240,0), rgba(100,100,100,1));
  padding-top: 10%;
  right: 0;
  width: 65%;
}

.form {
  background-color: white;
  border-radius: 24px;
  color: #333;
  margin: auto;
  max-width: 300px;
  padding: 24px;
}

.form .button-group {
  margin-top: 12px;
}
