@import url('https://fonts.googleapis.com/css?family=Roboto');

body, input, textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@import './styles/elements.css';
@import './styles/forms.css';
